@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.birthday-bg{
    background-color: rgb(190, 212, 228);
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.birthday-heading{
    font-size:80px;
    color:rgb(14, 90, 148);
    text-align: center;
    font-family: 'Bree Serif';
    font-weight: bold;
}
.birthday-span{
    color: black;
}
.birthday-image{
    width:100%;
    border-radius:50%;
}
.birthday-button{
    background-color: black;
    color:white;
    font-size: 25px;
    border-radius: 12px;
    margin-top:30px;
    padding:10px;
    width:250px;
    font-weight: bold;
    padding-left:10px;
    padding-right:20px;
}
.birthday-button:hover{
    color:white;
} 
    
    






